services:
  DUMB:
    container_name: DUMB
    image: iampuid0/dumb:dev
#   image: iampuid0/dumb:latest  
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - /home/bosgame/docker/DUMB/config:/config
      - /home/bosgame/docker/DUMB/log:/log
      - /home/bosgame/docker/DUMB/data:/data
      - /home/bosgame/docker/DUMB/mnt/debrid:/mnt/debrid:rshared
    environment:
      - TZ=America/Los_Angeles
      - PUID=1000
      - PGID=1000
    # network_mode: container:gluetun 
    ports:
      - "3005:3005" #DUMB
      - "9090:9090" #Zurg
      - "9091:9091" #Riven
      - "3000:3000" #Riven Fontend
      - "8080:8080" #Riven Backend
      - "5000:5000" #cli_debrid
      - "5001:5001" #cli_battery
      - "5050:5050" #pgAdmin 4
      - "5432:5432" #postgres
      - "8888:8888" #Phalanx DB  (x)
  
      - "8282:8282" #Decypharr
      - "8096:8096" #Jellyfin
      - "8920:8920" #Emby    
      - "32400:32400" #Plex
      - "6767:6767" #

      - "7878:7878" #Radarr-movies 
      - "7879:7879" #Radarr-movies-korean
      - "7880:7880" #Radarr-movies-anime
      - "7881:7881" #Radarr-movies-4k
      
      - "9696:9696" #Prowlarr
      
      - "8989:8989" #Sonarr-shows
      - "8990:8990" #Sonarr-shows-korean-drama
      - "8991:8991" #Sonarr-shows-korean-tv
      - "8992:8992" #Sonarr-anime 
      - "8993:8993" #Sonarr-shows-4k
      
      - "8686:8686" #Liarr-Pop
      - "8687:8687" #Liarr-Kpop

      - "8182:8182" #Zilean
    devices:
      - /dev/fuse:/dev/fuse:rwm
      - /dev/dri:/dev/dri
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
      - no-new-privileges

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      # 호스트 포트 80, 443은 NPM이 독점적으로 사용합니다.
      - "80:80"
      - "81:81"
      - "443:443"
    environment:
      - TZ=America/Los_Angeles
    volumes:
      # NPM 설정 파일 경로 변경
      - /home/bosgame/docker/npm/data:/data 
      - /home/bosgame/docker/npm/letsencrypt:/etc/letsencrypt
    restart: unless-stopped

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /home/bosgame/docker/jackett:/config
    ports:
      - "9117:9117"
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=America/Los_Angeles
    ports:
      - "8191:8191"
    restart: unless-stopped

  seerr:
    image: seerr/seerr:develop
    init: true
    container_name: seerr
    environment:
      - PUID=1000
      - PGID=1000
      - LOG_LEVEL=debug
      - TZ=America/Los_Angeles
      - PORT=5055
    ports:
      - 5055:5055
    volumes:
      - /home/bosgame/docker/seerr:/app/config
      - /home/bosgame/docker/DUMB/mnt/debrid:/mnt/debrid:rshared
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
