services:
  DUMB:
    container_name: DUMB
    image: iampuid0/dumb:dev
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - /home/bosgame-server/docker/DUMB/config:/config
      - /home/bosgame-server/docker/DUMB/log:/log
      - /home/bosgame-server/docker/DUMB/data:/data
 #     - /home/bosgame-server/docker/DUMB/mnt/debrid:rshared
      - /home/bosgame-server/docker/DUMB/mnt/debrid:/mnt/debrid:rshared
    environment:
      - TZ=America/Los_Angeles
      - PUID=1000
      - PGID=1000
    # network_mode: container:gluetun 
    ports:
      - "3005:3005" #DUMB
      - "9090:9090" #Zurg
      - "9091:9091" #Riven
      - "3000:3000" #Riven Fontend
      - "8080:8080" #Riven Backend
      - "5000:5000" #cli_debrid
      - "5001:5001" #cli_battery
      - "5050:5050" #pgAdmin 4
      - "5432:5432" #postgres
      - "8888:8888" #Phalanx DB  
  
      - "8282:8282" #Decypharr
      - "8096:8096" #Jellyfin
      - "8920:8920" #Emby    
      - "32400:32400" #Plex
      - "6767:6767" #

      - "7878:7878" #Radarr-movies 
      - "7879:7879" #Radarr-movies-korean
      - "7880:7880" #Radarr-movies-anime
      - "7881:7881" #Radarr-movies-4k
      
      - "9696:9696" #Prowlarr
      
      - "8989:8989" #Sonarr-shows
      - "8990:8990" #Sonarr-shows-korean-tv
      - "8991:8991" #Sonarr-anime 
      - "8992:8992" #Sonarr-shows-4k

      - "8686:8686" #Liarr-Pop
      - "8687:8687" #Liarr-Kpop

      - "6969:6969" #whisparr (?) adult need to delete
      - "8182:8182" #Zilean

    devices:
      - /dev/fuse:/dev/fuse:rwm
      - /dev/dri:/dev/dri
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
      - no-new-privileges
