services:
  DUMB:
    container_name: DUMB
    image: iampuid0/dumb:dev
    stop_grace_period: 30s
    shm_size: 128mb
    stdin_open: true
    tty: true
    volumes:
      - /home/bosgame-server/docker/DUMB/config:/config
      - /home/bosgame-server/docker/DUMB/log:/log
      - /home/bosgame-server/docker/DUMB/data:/data
      - /home/bosgame-server/docker/DUMB/mnt/debrid:rshared
    environment:
      - TZ=America/Los_Angeles
      - PUID=1000
      - PGID=1000
    # network_mode: container:gluetun 
    ports:
      - "3005:3005"
      - "3000:3000"
      - "5050:5050"
      - "5000:5000"
      - "8282:8282"
      - "32400:32400"
      - "8096:8096"
      - "9696:9696"
      - "7878:7878"
      - "8989:8989"
      - "6767:6767"
    devices:
      - /dev/fuse:/dev/fuse:rwm
      - /dev/dri:/dev/dri
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
      - no-new-privileges
